---

// IMPORT ASTRO LAYOUTS
import ContainerSmall from "@/layouts/container-small/index.astro"

// IMPORT ASTRO ATOMS
import Link from "@/atoms/links/index.astro"
import PictureContain from "@/atoms/picture/internal/contain/index.astro"

---

<header class="z-20 fixed w-full py-4" id="header">
    <ContainerSmall>
        <nav class="">
            <Link href="/">
                <div class="h-14 aspect-[10/2]">
                    <PictureContain
                        alternative_text=""
                        id="logo"
                        source="/logos/webaholic.png"
                    />
                </div>
            </Link>
        </nav>
    </ContainerSmall>
</header>

<script>
    // SCRIP TO CHANGE THE BG AND LOGO SOURCE IN HEADER
    document.addEventListener("scroll", () => {

        const header = document.getElementById("header")
        const logoImage = document.getElementById("logo")
        if ( window.scrollY > 0 ) {

            header.classList.add("bg-white", "shadow-md")
            logoImage.src = "/logos/webaholic-blue.png"

        } 
        else {

            header.classList.remove("bg-white", "shadow-md")
            logoImage.src = "/logos/webaholic.png"

        }

    })
</script>
