---

// IMPORT ASTRO COLLECTION
import { getCollection } from "astro:content"

//IMPORT FOOTER COLLECTION 
let footer_links_data = await getCollection( "footer-links" )
footer_links_data = footer_links_data.filter( item => item.data.live ).sort( ( a, b ) => a.data.order - b.data.order )

let footer_blogs_data = await getCollection( "footer-blogs" )
footer_blogs_data = footer_blogs_data.filter( item => item.data.live ).sort( ( a, b ) => a.data.order - b.data.order )

// IMPORT ASTRO LAYOUTS
import Container from "@/layouts/container/index.astro"

//IMPORT ASTRO COMPONENTS
import Blogs from "@/components/common/footer/blog/index.astro"
import LinksColumn from "@/components/common/footer/links/index.astro"

//IMPORT ASTRO ATOMS
import HeadingSixSmBoldUppercaseSlate from "@/atoms/atoms-diksha/headings/six/sm/bold/uppercase/slate/index.astro"
import Links from "@/atoms/links/index.astro"
import ParagraphSmSlate from "@/atoms/atoms-diksha/paragraphs/sm/slate/index.astro"
import Picture from "@/atoms/picture/internal/contain/index.astro"


---
<footer class="bg-light_blue py-16">
    <Container>
        <div class="flex flex-wrap justify-evenly gap-6">
            <div class="flex flex-col gap-4 w-72">
                <div class="pb-4">
                    <HeadingSixSmBoldUppercaseSlate>ABOUT US</HeadingSixSmBoldUppercaseSlate>
                </div>
                <ParagraphSmSlate>We are a diverse team of designers, developers, and marketers dedicated to improving online business for our clients and partners"</ParagraphSmSlate>
                <div class="py-6 flex gap-2">
                    <div class="w-36 aspect-video">
                        <Picture
                            alternative_text="google partner"
                            source="/images/footer-images/google-partners-logo-services.png"
                        />
                    </div>
                    <div class="flex flex-col">
                        <!-- <div class="flex gap-2">
                            <div class="">
                                <Picture
                                    alternative_text=""
                                />
                            </div>
                        </div> -->
                        <div class="size-28">
                            <Picture
                                alternative_text="utah winner badge"
                                source="/images/footer-images/badge.png"
                            />
                        </div>
                        <div class="w-36 aspect-video">
                            <Picture
                                alternative_text="amazon web services"
                                source="/images/footer-images/amazon-partner-logo.png"
                            />
                        </div>
                    </div>
                </div>
            </div>
            <LinksColumn footer_links_data={ footer_links_data } />
            <Blogs footer_blogs_data={ footer_blogs_data } />
        </div>
    </Container>
</footer>
